<%- include('layouts/layout_header') %>

<ul>
  <li><a href="/transcribe">Transcribe</a></li>
  <li><a href="/analyze">Analyze</a></li>
  <li><a href="/learn">Learn</a></li>
</ul>


<%- include('layouts/layout_footer') %>
