<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/transcribe.css">
</head>
<body>
  <h1>Trans</h1>


  <script src="js/transcribe.js"></script>

    <!-- Socket -->
  <script src="js/socket.io.js"></script>

</body>
</html>