<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <form action="/login" method="POST">
    <input type="password" name="password" placeholder="Enter password">
    <input type="submit" value="Login">
  </form>

  <script src="js/main.js"></script>
</body>
</html>