<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
  <h1>Transcribe</h1>

  <form action="/transcribe" method="post" enctype="multipart/form-data">
    <input type="file" name="audio" accept="audio/*" required>
    <button type="submit">Transcribe</button>
  </form>

  <h2 id="status"></h2>
  <textarea id="result" readonly style="width: 100%; height: 200px;"></textarea>

  <script src="js/socket.io.js"></script>
  <script src="js/transcribe.js"></script>
</body>
</html>
